body{
    background-image:url('../img/pattern.jpg') ;
    font-family: 'Slabo 27px', serif;
}
header{
    background-color: white;
    display: flexbox;
}
nav{
    float: right;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
}
section{
    background-color: white;
    width: 60%;
    margin: 10px auto;
    padding: 15px;
}
section h1{
    text-align: center;
}
article{
    padding: 10px;
    border-bottom:2px solid black;
    margin-bottom: 40px;
}
footer{
    background-color: black;
    color: white;
    padding: 2px;
    text-align: center;
}